[submodule "vim/.vim/bundle/vim-fugutive"]
	path = vim/.vim/bundle/vim-fugutive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-session"]
	path = vim/.vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/colorpack.git"]
	path = vim/.vim/bundle/colorpack.git
	url = git://github.com/vim-scripts/Colour-Sampler-Pack.git
