[submodule "externals/vim-session"]
	path = externals/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "externals/vim-fugitive"]
	path = externals/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
